/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Kaushan+Script|Roboto);
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

body {
  margin: 0 auto;
  min-width: 320px;
  width: 100%;
  font-family: 'Montserrat', sans-serif; }

.wrap {
  overflow: hidden;
  position: relative;
  left: 0;
  top: 0;
  height: 1000px; }
  @media (min-width: 320px) and (max-width: 559px) {
    .wrap {
      height: 600px; } }
  .wrap > .sect {
    position: absolute;
    width: 100%;
    height: 100%;
    float: left; }

.slider {
  left: 3%;
  width: 94%;
  position: absolute;
  top: 90%; }
  @media (min-width: 1200px) {
    .slider {
      width: 1200px;
      left: calc(50% - 600px); } }
  @media (min-width: 950px) and (max-width: 1199px) {
    .slider {
      left: 2%;
      width: 96%; } }
  @media (min-width: 560px) and (max-width: 786px) {
    .slider {
      left: 4%; } }
  .slider .slider_item {
    display: inline-block;
    width: 23%;
    margin-right: 2%;
    cursor: pointer; }
    @media (min-width: 560px) and (max-width: 786px) {
      .slider .slider_item {
        width: 22%; } }
    @media (min-width: 320px) and (max-width: 559px) {
      .slider .slider_item {
        width: 21%; } }
    .slider .slider_item:hover .slider_line {
      opacity: 1; }
      .slider .slider_item:hover .slider_line .slider_line-mod {
        opacity: 1; }
    .slider .slider_item:last-child {
      margin-right: 0; }
    .slider .slider_item:first-child .slider_line {
      opacity: 1; }
      .slider .slider_item:first-child .slider_line .slider_line-mod {
        opacity: 1; }
    .slider .slider_item .slider_line {
      width: 100%;
      height: 4px;
      background-color: #fff;
      opacity: 0.5; }
      .slider .slider_item .slider_line .slider_line-mod {
        width: 25%;
        height: 4px;
        background-color: #f38181;
        opacity: 0;
        -webkit-transition: opacity 1s cubic-bezier(0.28, 0.41, 1, 0.76);
        transition: opacity 1s cubic-bezier(0.28, 0.41, 1, 0.76); }
    .slider .slider_item .slider_numb {
      color: #fff;
      font-size: 20px;
      font-weight: 700; }
      @media (min-width: 320px) and (max-width: 559px) {
        .slider .slider_item .slider_numb {
          font-size: 13px; } }
      .slider .slider_item .slider_numb span {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 400; }
        @media (min-width: 320px) and (max-width: 559px) {
          .slider .slider_item .slider_numb span {
            font-size: 9px; } }

.wrapper {
  overflow: auto;
  margin: 0 4%; }
  @media (min-width: 1200px) {
    .wrapper {
      width: 1200px;
      margin: 0 auto; } }

.wrapper1 {
  overflow: auto; }
  @media (min-width: 1200px) {
    .wrapper1 {
      width: 1200px;
      margin: 0 auto; } }

.clear {
  clear: both; }

hr {
  width: 60px;
  height: 4px;
  background-color: #fff;
  border: none;
  margin-bottom: 50px; }

.path {
  display: block;
  height: 100%; }

.sect {
  background: url(../images/eagle.jpg) no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
  overflow: auto; }
  .sect:nth-child(4) {
    background: url(../images/photo.jpg) no-repeat; }
  .sect:nth-child(2) {
    background: url(../images/phone.jpg) no-repeat; }
  .sect:nth-child(3) {
    background: url(../images/comp.jpg) no-repeat; }
  .sect .logo {
    float: left;
    margin-top: 28px;
    font-weight: 700; }
    @media (min-width: 320px) and (max-width: 559px) {
      .sect .logo {
        float: none;
        text-align: center; } }
    .sect .logo a {
      font-size: 20px;
      color: #fff;
      text-decoration: none; }
  .sect nav {
    float: right;
    width: 600px; }
    @media (min-width: 560px) and (max-width: 786px) {
      .sect nav {
        width: 378px; } }
    @media (min-width: 320px) and (max-width: 559px) {
      .sect nav {
        display: none; } }
    .sect nav .nav {
      padding: 0;
      margin-top: 35px; }
      .sect nav .nav li {
        display: inline-block;
        margin-right: 50px; }
        @media (min-width: 560px) and (max-width: 786px) {
          .sect nav .nav li {
            margin-right: 30px; } }
        @media (min-width: 320px) and (max-width: 559px) {
          .sect nav .nav li {
            margin-right: 10px;
            width: 13%; } }
      .sect nav .nav .nav_li {
        text-transform: uppercase;
        font-weight: 400; }
        @media (min-width: 560px) and (max-width: 786px) {
          .sect nav .nav .nav_li:nth-child(5) {
            margin: 0; } }
        .sect nav .nav .nav_li a {
          color: #fff;
          font-size: 12px;
          text-decoration: none; }
          .sect nav .nav .nav_li a:hover {
            color: #fce38a;
            border-bottom: 3px solid #fce38a;
            padding-bottom: 10px; }
      .sect nav .nav .nav_img {
        background: url(../images/shop.png) no-repeat;
        width: 18px;
        height: 14px;
        cursor: pointer; }
        .sect nav .nav .nav_img:hover {
          background-position: 0 -15px; }
        @media (min-width: 560px) and (max-width: 786px) {
          .sect nav .nav .nav_img {
            float: right;
            margin: 10px; } }
      .sect nav .nav .nav_img1 {
        background: url(../images/glass.png) no-repeat;
        width: 16px;
        height: 16px;
        margin-right: 0;
        cursor: pointer; }
        .sect nav .nav .nav_img1:hover {
          background-position: 0 -16px; }
        @media (min-width: 560px) and (max-width: 786px) {
          .sect nav .nav .nav_img1 {
            float: right;
            margin: 10px; } }
  .sect .title {
    text-align: center;
    color: #fff;
    font-size: 50px;
    margin-top: 180px;
    font-family: 'Kaushan Script', cursive;
    margin-bottom: 10px; }
    @media (min-width: 320px) and (max-width: 559px) {
      .sect .title {
        font-size: 35px;
        margin-top: 20px; } }
  .sect .title1 {
    text-align: center;
    color: #fff;
    font-size: 95px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 0; }
    @media (min-width: 320px) and (max-width: 559px) {
      .sect .title1 {
        font-size: 55px; } }
  .sect button {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    width: 156px;
    height: 36px;
    margin: 0 auto;
    outline: none;
    display: block;
    font-weight: 700; }

.about {
  text-align: center; }
  .about .about_text {
    font-size: 22px;
    font-family: 'Kaushan Script', cursive;
    margin-bottom: 0; }
  .about .about_text1 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 10px; }
  .about .about_wrap {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 100px; }
    .about .about_wrap .about_text2 {
      color: #999999;
      font-family: 'Roboto', sans-serif; }
  .about .about_line {
    background-color: #f38181;
    margin-top: 50px; }
  .about .img {
    width: 100%;
    margin-bottom: 110px;
    overflow: auto; }
    .about .img .img_item {
      width: 32%;
      position: relative;
      float: left;
      margin: 0 0 0 2%;
      height: 249px;
      cursor: pointer; }
      @media (min-width: 560px) and (max-width: 786px) {
        .about .img .img_item {
          width: 100%;
          margin: 0;
          margin-bottom: 15px; } }
      @media (min-width: 320px) and (max-width: 559px) {
        .about .img .img_item {
          width: 100%;
          margin: 0;
          margin-bottom: 15px; } }
      .about .img .img_item:first-child {
        margin-left: 0; }
        .about .img .img_item:first-child:hover .img_team {
          display: block; }
        .about .img .img_item:first-child:hover p {
          display: block; }
      .about .img .img_item:hover {
        top: -7px;
        left: -7px;
        box-shadow: 7px 7px 0px #95E1D3; }
        .about .img .img_item:hover .img_grad {
          opacity: 0.7;
          display: block; }
      .about .img .img_item .img_grad {
        position: absolute;
        background-image: -webkit-linear-gradient(top, #F38181 0%, #fce38a 100%);
        background-image: linear-gradient(to bottom, #F38181 0%, #fce38a 100%);
        display: none;
        width: 100%;
        height: 100%; }
      .about .img .img_item .img_team {
        position: absolute;
        background: url(../images/user.png) no-repeat;
        width: 32px;
        height: 23px;
        display: none;
        top: calc(50% - 16px);
        left: calc(50% - 12px); }
      .about .img .img_item p {
        position: absolute;
        text-transform: uppercase;
        display: none;
        color: #fff;
        left: calc(50% - 48px);
        top: calc(55% - 12px);
        font-weight: 700; }
    .about .img .img_1 {
      background: url(../images/img1.png) no-repeat;
      background-size: cover; }
    .about .img .img_2 {
      background: url(../images/img2.png) no-repeat;
      background-size: cover; }
    .about .img .img_3 {
      background: url(../images/img3.png) no-repeat;
      background-size: cover; }

footer {
  width: 100%;
  overflow: auto;
  background-color: #95e1d3; }
  footer .numbers {
    padding: 0;
    width: 100%;
    margin: 0; }
    footer .numbers .numbers_item {
      border-left: 1px solid #b5eae0;
      width: 19.3%;
      color: #fff;
      text-align: center;
      display: inline-block;
      height: 270px; }
      @media (min-width: 1200px) {
        footer .numbers .numbers_item {
          width: 235px; } }
      @media (min-width: 950px) and (max-width: 1199px) {
        footer .numbers .numbers_item {
          width: 19.5%; } }
      @media (min-width: 560px) and (max-width: 786px) {
        footer .numbers .numbers_item {
          height: 220px;
          width: 19.1%; } }
      @media (min-width: 320px) and (max-width: 559px) {
        footer .numbers .numbers_item {
          width: 18.6%;
          height: 155px; } }
      footer .numbers .numbers_item:last-child {
        border-right: 1px solid #b5eae0; }
      footer .numbers .numbers_item p {
        font-size: 55px;
        margin-bottom: 10px;
        margin-top: 44%;
        font-weight: 700; }
        @media (min-width: 560px) and (max-width: 786px) {
          footer .numbers .numbers_item p {
            font-size: 45px; } }
        @media (min-width: 320px) and (max-width: 559px) {
          footer .numbers .numbers_item p {
            font-size: 30px; } }
      footer .numbers .numbers_item span {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 400; }
        @media (min-width: 560px) and (max-width: 786px) {
          footer .numbers .numbers_item span {
            font-size: 9px; } }
        @media (min-width: 320px) and (max-width: 559px) {
          footer .numbers .numbers_item span {
            font-size: 5px; } }
